.header {
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 3;
  display: flex;
  align-items: center;
  &__img {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: $font-primary;
    text-align: center;
    margin: 0;
  }
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__quantityShopping {
    position: absolute;
    top: -50%;
    right: -40%;
    z-index: 1;
    color: white;
    background-color: gray;
    padding: 0 0.3rem;
    border-radius: 50%;
  }
  &__sidebarOpen {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: black, $alpha: 0.8);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s linear;
    z-index: 2;
  }
  &__sidebarClose {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: black, $alpha: 0.8);
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.2s linear;
    display: flex;
  }
}

.icon-list {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.product__off {
  display: flex;
  align-items: stretch;
}
.close {
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  cursor: pointer;
  transition: 1.5s linear;
}
.navbar {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  transition: 2s linear;
  & a {
    text-decoration: none;
    color: white;
    padding: 3rem 0;
  }
}
.container_cardShop {
  width: 100vw;
}
.container__cardShopOPen {
  height: 100%;
  width: 100vw;
  background-color: white;
  border-radius: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  transition: 1s linear;
}
.shop__buttonClose {
  font-size: 2rem;
  width: 20%;
  color: black;
  justify-content: end;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.container__cardShopClose {
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 5;
  display: flex;
  transition: 2s linear;
}
.container__buys {
  overflow-y: scroll;
  width: 90%;
  align-items: center;
  margin-left: 0.8rem;
}
.shopping-cart {
  cursor: pointer;
}

.container_cardShop {
  display: flex;
  flex-direction: column;
}
.shop__total {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.shop__finalizeBuy {
  width: 100%;
  text-align: center;
  border: none;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}
@include breakpoint(sm) {
  .header__sidebarOpen {
    width: 30vw;
  }
  .header__sidebarClose {
    width: 30vw;
  }
  .container__cardShopOPen {
    width: 40vw;
  }
  .container__cardShopClose {
    width: 40vw;
  }
}
