.hero {
  width: 100vw;
  height: 100vh;
}

.hero__img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  padding: 0;
}

.hero__container {
  position: relative;
}

.hero__description {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.5rem;
  font-family: $font-primary;
  color: black;

  & p {
    margin: 0;
    padding: 1rem;
  }

  & h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
  }
}
