.products__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  justify-content: center;
}
.product__container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 20rem;
}
.product__image {
  width: 90%;
  height: 20rem;
  display: flex;
  margin: 0 auto;
  object-fit: cover;
}
.product__off {
  position: absolute;
  left: 10%;
  top: 3%;
  z-index: 1;
  background-color: #E07A5F;
  padding: 0.3rem 0.3rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.product__cart {
  position: absolute;
  bottom: 40%;
  left: 50%;
  background-color: wheat;
  border-radius: 50%;
  padding: 0.5rem;
  transform: translate(-50%, 0%);
}
.product__title {
  text-align: center;
  margin: 1rem;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;

}
.product__price {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.product__offerprice,
.product__normalprice {
  font-size: 1.6rem;
  font-weight: 100;

  margin: 0 1rem;
  color: rgba($color: #000000, $alpha: 1);
}
.example {
  text-decoration: line-through;
}

.product__size {
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  margin-top: 1rem;
}
// @include breackpoint(md) {
// }
