.container__buy {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
}
.buy {
  &__images {
    height: 6rem;
    width: 7rem;
    object-fit: contain;
    padding: 0;
  }
  &__title {
    font-size: 1rem;
  }
  &__price {
    font-size: 1rem;
  }
  &__delete {
    padding-left: 0.4rem;
  }
}
.container__description {
  text-align: center;
}
.container__description {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}
.deletebuton {
  display: flex;
  justify-content: center;
}
